{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <h1>{{ person.username }}님의 프로필</h1>
    <div>
        팔로잉 : {{ person.followings.count }} / 팔로우 : {{ person.followers.count }}
    </div>
    <form action="{% url 'accounts:follows' person.pk%}" method="POST">
        {% csrf_token %}
        {% if request.user in person.followers.all %}
            <input type="submit" value="팔로잉 취소">
        {% else %}
            <input type="submit" value="팔로잉">
        {% endif %}
    </form>

    <hr>

    <h2>{{ person.username }}님의 개시글</h2>
    {% for movie in person.movie_set.all %}
    <h4> {{ movie.title }} </h4>
    {% endfor %}

    <hr>

    <h2>{{ person.username }}님의 댓글</h2>
    {% for comment in person.comment_set.all %}
    <h4> {{ comment.content }} </h4>
    {% endfor %}

    <hr>

    <h2>{{ person.username }}님의 좋아요를 누른 개시글</h2>
    {% for like in person.like_movie.all %}
    <h4>{{ like.title }}</h4>
    {% endfor %}
{% endblock content %}