{% extends 'base.html' %}
{% block content %}
    <h1>첫 화면입니다.</h1>
    {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}">게시글 작성</a>
    {% for article in articles %}
        <p>{{article.pk}}번째 게시글입니다.</p>
        <p>{{article.title}}</p>
        <p>{{article.content}}</p>
        <a href="{% url 'articles:detail' article.pk%}">자세히 보기</a>
        <hr>
    {% endfor %}
    {% else %}
    <a href="{% url 'accounts:login' %}">새 글을 작성하시려면 로그인하세요</a>
    {% endif %}
    <hr>
{% endblock content %}